.player {
  max-width: 1400px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  transition: bottom 0.55s ease;

  margin: 0 auto;
  padding: 0 10px;

  &--active {
    bottom: 25px;

    @include phones {
      bottom: 0;

      padding: 0;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    border-radius: 20px;

    padding: 24px 8px;

    @include tablets {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;

      padding: 20px 16px;
    }

    @include phones {
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      border-radius: 20px 20px 0 0;

      padding: 10px 12px;
    }
  }
}

.player__track {
  padding-left: 8px;

  @include tablets {
    padding-left: 0;
  }

  &-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
  }

  &-artist {
    font-size: 14px;
    font-weight: 300;
  }
}

.player__controls {
  display: flex;
  align-items: center;

  @include phones {
    grid-column: span 2;
    justify-self: center;
  }
}

.player__btn {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease;

  &:hover,
  &:focus {
    opacity: 0.45;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  &--stop {
    background-image: url("./img/icons/stop.svg");
  }

  &--play {
    background-image: url("./img/icons/play.svg");
  }

  &--pause {
    background-image: url("./img/icons/pause.svg");
  }

  &--prev {
    background-image: url("./img/icons/prev.svg");
  }

  &--next {
    background-image: url("./img/icons/next.svg");
  }

  &--like {
    background-image: url("./img/icons/like.svg");
  }

  &--like-fill {
    filter: invert(26%) sepia(87%) saturate(7016%) hue-rotate(356deg)
      brightness(97%) contrast(118%);
  }

  &--mute {
    background-image: url("./img/icons/mute.svg");
  }

  &--unmute {
    background-image: url("./img/icons/unmute.svg");
  }
}

.player__progress-wrap {
  grid-column: span 3;
  display: flex;
  align-items: center;

  @include phones {
    grid-column: span 2;
  }
}

.player__progress {
  flex-grow: 1;
  line-height: 0;

  margin-right: 20px;
}

.player__progress-range {
  width: 100%;
  cursor: pointer;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;

  padding: 10px 0;

  &::-webkit-slider-runnable-track {
    height: 8px;
    background-color: $gray;
    border: none;
    border-radius: 20px;
    transition: all 0.15s ease-in-out;
  }

  &:hover::-webkit-slider-runnable-track,
  &:focus::-webkit-slider-runnable-track {
    background-color: #757575;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 24px;
    margin-top: -8px;

    background: $white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
}

.player__time {
  min-width: 70px;
  min-height: 1px;
  font-size: 14px;
  font-weight: 400;
}

.player__volume-wrap {
  display: flex;
  align-items: center;
  gap: 10px;

  @include tablets {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  @include phones {
    grid-column: 2 / 3;
  }
}

.player__volume {
  line-height: 0;

  @include tablets {
    flex-grow: 1;
  }
}

.player__volume-range {
  width: 100%;
  cursor: pointer;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;

  padding: 10px 0;

  &::-webkit-slider-runnable-track {
    height: 8px;
    background-color: $gray;
    border: none;
    border-radius: 20px;
    transition: all 0.15s ease-in-out;
  }

  &:hover::-webkit-slider-runnable-track,
  &:focus::-webkit-slider-runnable-track {
    background-color: #757575;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 24px;
    margin-top: -8px;

    background: $white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
}
